:root{
    --color1: #f8d1ca;
    --color2: #d83200; 
    --color3: #7e2b0b;
    --color4: rgb(148, 122, 120);
    --color5: #1f0100;
    --color6: #ffffff91 ;
    --color7: #7a3d0b;
   --color8: rgb(255, 38, 0);
      --color9: #b84314;
    --color10: #b63a00;
    --colorF: #E73600;
    /* --color6:
  --color6: */
}


.wave{
background: url(../images/waveo.png);

}
