:root{
    --color1: #ffffff;
    --color2: #effafd; 
    --color3: #000000;
    --color4: rgb(240, 224, 224);
    --color5: #323236;
    --color6: #1b171791 ;
    --color7: #404049;
   --color8: rgb(228, 228, 241);
      --color9: #000000;
    --color10: #edf5f5;
    --colorF: #000;
    /* --color6:
  --color6: */
}


.wave{
background: url(../images/wavew.png);

}

.skills div button {
    color: black;
  }
  .card .content .name {
     color: black;
}
.card-link span{
  color: black;
}
.copy-right {
   color: rgb(255, 255, 255);
}
.eyes .eye {
   background: rgb(26, 26, 26);
  box-shadow: 2px 2px 5px var(--color2) inset;
  }
 .mouth {
   background: beige;
  box-shadow: 2px 2px 20px var(--color7), 
  -2px -2px 10px rgb(146, 161, 161), 
  0 0 5px rgb(31, 28, 28) inset;
 }
 .next, .back, .play {
    background-color: var(--color2);
    color: rgb(0, 0, 0);
  }
 